html, body {
    margin: 0;
    padding: 0;
}

.toolbar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}

button#done {
    -webkit-appearance: none;
    font-size: 15px;
    line-height: 40px;
    background: #FFF;
    border: none;
}

.pull-right {
    float: right;
}

img {
    display: none;
}
